@import "variables.scss";
@import "mixins.scss";

// Clearfix mixin for docs

//
// Documentation
// --------------------------------------------------

html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative !important; // Overrides the fixed positioning of body in Ratchet
  font: 14px/1.5 "adelle-sans",sans-serif;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; // Fix for webkit rendering
  -webkit-text-size-adjust: 100%;
}


// Jumbotron
// --------------------------------------------------
.docs-header,
.docs-sub-header {
  position: relative;
  background-image: linear-gradient(45deg, #0a1855 0%,#da0024 100%);

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-position: center center;
    opacity: .038;
    // content: '';
  }
}
.docs-header {
  height: 100vh;
  min-height: 700px;

  // Ad on the homepage
  .carbonad {
    position: absolute !important;
    bottom: 180px !important;
    margin-top: 0 !important;
    @include animation-name(fadeintext);
    @include animation-duration(2s);
  }
}

// Masthead
.docs-masthead {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.docs-title {
  position: absolute;
  left: 50%;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 100;
  z-index: 20;
  @include transform(translateX(-50%));
}
.docs-nav {
  .docs-nav-trigger {
    color: #fff;
    cursor: pointer;
    opacity: .7;

    &.active {
      opacity: 1;
    }
  }
  .docs-nav-group {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 20;
    overflow: hidden;
    height: 0;
    background-color: rgba(0,0,0,.9);
    opacity: 0;

    &.active {
      height: auto;
      opacity: 1;
    }
  }
  .docs-nav-item {
    display: block;
    padding: 20px 15px;
    font-weight: 100;
    font-size: 22px;
  }
}
.docs-jump-menu,
.docs-component-group{
  display: none;
}
.docs-title a,
.docs-nav-item {
  color: #fff;
  @include transition(opacity .2s linear);

  &:active,
  &:focus {
    color: #fff;
    opacity: .5;
  }
}
.docs-header-content {
  position: relative;
  top: 30px;
  text-align: center;
  padding: 50px 10px;
  @include animation-name(fadeintext);
  @include animation-duration(2s);

  .btn {
    display: block;
    padding: 15px 60px 16px;
    font-size: 18px;
    margin-bottom: 0;
    color: #0a1855;
    background-color: #fff;
    border: 0;
    @include transition(all .2s linear);

    &:hover {
      background-color: #fff;
      @include box-shadow(0 0 50px rgba(255,255,255,.3));
    }
    &:active {
      opacity: .5;
    }
  }
}
.docs-subtitle {
  max-width: 750px;
  margin: 0 auto 20px;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  line-height: 38px;
}

// Ads
.carbonad {
  width: 100% !important;
  height: auto !important;
  padding: 15px !important;
  font-size: 13px !important;
  line-height: 18px !important;
  background: transparent !important;
  border-top: 1px solid rgba(255,255,255,.1) !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.carbonad-img {
  margin: 0 !important;
}
.carbonad-text,
.carbonad-tag {
  display: block !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  margin-left: 145px !important;
  color: rgba(255,255,255,.65) !important;
  font-family: "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.carbonad-text {
  padding-top: 0 !important;
}
.carbonad-tag {
  text-align: left !important;
}
.carbonad-text a,
.carbonad-tag a {
  color: #fff !important;
}
.carbonad #azcarbon>img {
  display: none;
}

// Subpage Header
// --------------------------------------------------

.docs-sub-content {
  position: relative;
  overflow: hidden;
  padding-top: 55px; // Visually centers the content.
  padding-bottom: 65px; // Visually centers the content.
  color: #fff;
  text-align: center;

  .page-title,
  .page-description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
  }
  .page-title {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .page-description {
    color: #fff;
    font-size: 24px;
    opacity: .7;
  }
}


// Content sections
// --------------------------------------------------
.docs-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-heading,
.section-lead {
  margin-top: 0;
  margin-bottom: 0;
}
.section-heading {
  font-size: 22px;
  font-weight: 300;
}
.section-lead {
  font-size: 18px;
  color: #777;
  font-weight: 100;
}

// Steps
// --------------------------------------------------

.docs-steps {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.step {
  padding-top: 30px;
  padding-bottom: 30px;
}
.step-title,
.step-description {
  font-weight: 300;
}
.step-title {
  font-size: 18px
}
.step-title code {
  font-size: 14px;
}
.step-description {
  font-size: 14px;
}

// Docs modules
.docs-module {
  margin-top: 20px;
  padding: 20px;
  border: $border-default;
  border-radius: 3px;

  .btn-block {
    margin-bottom: 0;
  }
}
.docs-module-title {
  font-weight: 300;
}


// Footer
// --------------------------------------------------

.docs-footer {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  .social {
    padding: 0 0 20px;
    margin: 0;
    list-style: none;

    li {
      height: 20px;
      display: inline-block;
      vertical-align: top;
    }
    .twitter-follow-button {
      margin-top: 5px;
    }
  }
}
.docs-footer-content {
  margin: 0;
  color: #777;
  font-size: 12px;
}
.docs-header .docs-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  border-top: 1px solid rgba(255,255,255,.1);

  .docs-footer-content {
    color: rgba(255,255,255,.5);

    a {
      font-weight: bold;
      color: rgba(255,255,255,.8);
    }
  }
}

// Style the GitHub buttons via CSS instead of inline attributes
.github-btn {
  border: 0;
  overflow: hidden;
}

// Platform toggle
// --------------------------------------------------

.docs-component-toolbar {
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 20;
  height: 44px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-transition: -webkit-transform .5s;
     -moz-transition: -moz-transform .5s;
          transition: transform .5s;
  @include transform(translate3d(0, -55px, 0));

  &.visible {
    @include transform(translateY(0));
    @include transform(translate3d(0, 0, 0));
  }

  .segmented-control {
    max-width: 300px;
    margin: 0 auto;

    .control-item {
      cursor: pointer;
    }
  }
}

// Example devices
// --------------------------------------------------

.docs-examples {
  margin-top: 50px;
  margin-bottom: 50px;
}
.docs-example-group {
  margin-top: 30px;

  .example-wrap {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 10px;
    }
    .example {
      display: block;
      overflow: hidden;
      padding: 3px;
      width: 100%;
      border: $border-default;
      border-radius: 3px;
    }
    h5 {
      margin-top: 10px;
      font-weight: 300;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
// .example-device {
//   margin: 0 auto;
// }

// Components
// --------------------------------------------------

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.component {
  padding: 50px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #ddd;

  &.no-border {
    border-bottom: 0;
  }
}
.component-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}
.component-description {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
}
.component-example {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
}
.component-example,
.component-example .bar,
.component-example .content {
  position: relative;
}
.component-example .bar {
  border-top: $border-default;
  border-bottom: $border-default;

  &.bar-header-secondary {
    top: 0 !important;
    border-top: 0;
  }
}
.component-example > .content-padded {
  margin: 15px;
}
.component-example > .card {
  margin: 15px 0 0;

  .control-content {
    padding: 15px;
  }
}
.component-example > .btn,
.component-example > .toggle {
  margin-bottom: 10px;
}
.component-example .slider {
  height: 200px;
}
.component-example .slide img {
  width: 100%;
  height: 200px;
}
.component-example .slide-text {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.component-example-fullbleed,
.highlight {
  margin-left: -15px;
  margin-right: -15px;
}
.bar-nav ~ .content {
  padding: 0;
}
.highlight pre {
  margin-top: 15px;
  padding: 15px;
  font-size: 13px;
  overflow-x: auto;
  color: #777;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
}
#ratchicons .icon,
#ratchiconsInDevice .icon {
  width: 50px;
  height: 50px;
  margin: 3px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
}
// Modals
#modals .modal {
  left: 0;
  z-index: 50;
}
// Push
#push .component-example {
  height: 150px;
  overflow: hidden;
}

// Buttons
#buttonsInDevice,
#buttonsBadgesInDevice {
  .btn {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 10px;
  }
}
#blockButtonsInDevice .btn-block {
  margin: 10px;
}

//Segmented Control
#segmentedControlsInDevice {
  .segmented-control {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card span {
    padding: 10px;
  }
}

// Badges
#badgesInDevice {
  text-align: center;

  .badge {
    margin-top: 10px;
  }
}

// Forms
#formsInDevice form {
  margin: 10px;

  &.input-group {
    margin: 0;
  }
}

// Toggles
#togglesInDevice .toggle {
  margin: 10px auto;
}

// Popovers
#popoversInDevice {
  #iwindow:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0,0,0,.3);
    content: '';
  }
}

// Modals
#modalsInDevice {
  #iwindow > .btn {
    margin: 10px;
  }
}

// Misc
// --------------------------------------------------

.device {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  display: none;
}

hr {
  height: 0;
  margin: 10px 0 30px;
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
}

.column-group {
  *zoom: 1;
}
.column-group:before,
.column-group:after {
  display: table;
  line-height: 0;
  content: "";
}
.column-group:after {
  clear: both;
}
// You can also use a <br class="clear">
.clear {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}


// Docs media queries
// --------------------------------------------------

// Tablet to desktop
@media screen and (min-width: 768px) {
  .docs-header {
    min-height: 830px;

    // Ads on the homepage
    .carbonad {
      bottom: 180px !important;
      left: 50% !important;
      margin-left: -165px !important;
    }
  }
  .docs-sub-header .carbonad {
    position: absolute !important;
    top: 50% !important;
    right: 15px !important;
    margin-top: 0 !important;
    @include transform(translateY(-50%) !important);
  }
  .docs-sub-content {
    margin-right: 380px;
    text-align: left;
  }
  .docs-title {
    position: static;
    float: left;
    @include transform(translateX(0));
  }
  .docs-header-content {
    top: 32%;
    @include transform(translateY(-50%));

    .btn {
      display: inline-block;
    }
  }
  .docs-subtitle {
    margin-bottom: 30px;
    font-size: 41px;
    line-height: 60px;
  }

  // Docs nav
  .docs-nav {
    float: right;

    .docs-nav-trigger {
      display: none;
    }
    .docs-nav-group {
      position: static;
      display: block;
      height: auto;
      background-color: transparent;
      opacity: 1;
    }
    .docs-nav-item {
      position: relative;
      display: inline-block;
      padding: 0 15px;
      font-size: 14px;
    }
  }

  // Component jump menu
  .docs-jump-menu {
    position: absolute;
    left: 20px;
    display: block;
    color: #777;
    cursor: pointer;
    @include transition(opacity .2 linear);

    &:hover {
      color: $primary-color;
    }
    &:active {
      opacity: .5;
    }
    .icon-list {
      font-size: 16px;
      margin-right: 3px;
    }
    .icon-caret {
      position: relative;
      top: 4px;
    }
  }
  .docs-component-group {
    position: absolute;
    top: 35px;
    left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.05);

    &.active {
      display: block;
    }
    &:before,
    &:after {
      position: absolute;
      left: 30px;
      width: 0;
      height: 0;
      content: '';
    }
    &:before {
      top: -11px;
      margin-left: -11px;
      border-right: 11px solid transparent;
      border-bottom: 11px solid rgba(0,0,0,.3);
      border-left: 11px solid transparent;
    }
    &:after {
      top: -10px;
      margin-left: -10px;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent
    }
    .docs-component-item {
      display: block;
      padding: 10px 20px;
      color: #777;

      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }

  // Ads
  .carbonad {
    width: 330px !important;
    border-right: 1px solid rgba(255,255,255,.1) !important;
    border-bottom: 1px solid rgba(255,255,255,.1) !important;
    border-left: 1px solid rgba(255,255,255,.1) !important;
    border-radius: 3px !important;
  }

  // Social
  .docs-footer {
    .social .twitter-follow-button {
      margin-top: 0;
    }
  }

  // Steps
  .step-title {
    font-size: 24px;
  }
  .step-title code {
    font-size: 18px;
  }
  .step-description {
    font-size: 18px;
  }

  // Docs modules
  .docs-module {
    margin-top: 35px;
  }


  // Content sections
  // --------------------------------------------------
  .section-heading {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .section-lead {
    font-size: 24px;
  }

  // Device
  .device {
    position: relative;
    top: 50px;
    display: block;
    width: 395px;
    height: 813px;
    margin-left: -20px;
    font-family: "Helvetica Neue", sans-serif;
    background-image: url("../img/iphone5c.png");
    background-size: 100%;
    background-repeat: no-repeat;
    @include transition(background-image .1s linear);

    &.device-fixed {
      position: fixed;
      right: auto;
    }
  }
  .device .device-content {
    position: absolute;
    top: 117px;
    left: 37px;
    width: 320px;
    height: 569px;
    overflow: hidden;
    font-size: $font-size-default;
    line-height: $line-height-default;
    background-color: #fff;
  }
  .device .content,
  .device .bar,
  .device .modal {
    position: absolute;
  }
  .device .content {
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .component,
  .component-example-fullbleed,
  .highlight {
    margin-left: 0;
    margin-right: 0;
  }
  .component {
    padding-left: 0;
    padding-right: 0;
    opacity: .3;
    @include transition(opacity .2s ease-in-out);

    &.active {
      opacity: 1;
    }
  }
  .component-example {
    display: none;
  }
  .highlight pre {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px;
  }

  // Component overrides
  .popover {
    position: absolute;
    display: block;
    top: 72px;
    opacity: 1;
  }
  .slider .slide img {
    width: 100%;
    height: 570px; // Fullscreen fun times
    display: block;
  }
  .slider .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }
  // Examples
  .docs-example-group .example-wrap {
    display: inline-block;

    .example {
      width: 180px;
    }
  }
}
@media screen and (min-width: 1200px) {
  // Device
  .device {
    margin-left: 39px;
  }
  .docs-sub-header .carbonad {
    right: 30px !important;
  }
  // Component jump menu
  .docs-jump-menu {
    left: 30px;
  }
  // Examples
  .docs-example-group .example-wrap .example {
    width: 220px;
  }
}


// The Chassis grid
// --------------------------------------------------

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.column-group {
  width: auto;
}
.column {
  padding-left: 15px;
  padding-right: 15px;
  float: left;

  &.pull-right {
    float: right;
  }
}
// Lines nested grids up correctly.
.column .column-group {
  margin-left: -15px;
  margin-right: -15px;
}
.units-1 { width: 50%; }
.units-2 { width: 100%; }

// Offsets
.offset-1 { margin-left: 50%; }


// Tablet to desktop
// --------------------------------------------------

 @media screen and (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 940px;
  }
  .column {
    padding-left: 20px;
    padding-right: 20px;
  }
  // Lines nested grids up correctly.
  .column .column-group {
    margin-left: -20px;
    margin-right: -20px;
  }

  // Override the mobile grid
  .units-1 { width: 50%; }
  .units-2 { width: 100%; }

  // Twelve column fluid grid
  .lg-units-1  { width: 8.333%; }
  .lg-units-2  { width: 16.666%; }
  .lg-units-3  { width: 25%; }
  .lg-units-4  { width: 33.333%; }
  .lg-units-5  { width: 41.666%; }
  .lg-units-6  { width: 50%; }
  .lg-units-7  { width: 58.333%; }
  .lg-units-8  { width: 66.666%; }
  .lg-units-9  { width: 75%; }
  .lg-units-10 { width: 83.333%; }
  .lg-units-11 { width: 91.666%; }
  .lg-units-12 { width: 100%; }

  // Offsets
  .lg-offset-1     { margin-left: 8.333%; }
  .lg-offset-2     { margin-left: 16.666%; }
  .lg-offset-3     { margin-left: 25%; }
  .lg-offset-4     { margin-left: 33.333%; }
  .lg-offset-5     { margin-left: 41.666%; }
  .lg-offset-6     { margin-left: 50%; }
  .lg-offset-7     { margin-left: 58.333%; }
  .lg-offset-8     { margin-left: 66.666%; }
  .lg-offset-9     { margin-left: 75%; }
  .lg-offset-10    { margin-left: 83.333%; }
  .lg-offset-11    { margin-left: 91.666%; }
}


// Standard sized screens to large screens
// --------------------------------------------------

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .column {
    padding-left: 30px;
    padding-right: 30px;
  }
  // Lines nested grids up correctly.
  .column .column-group {
    margin-left: -30px;
    margin-right: -30px;
  }
}

// Devices
.platform-ios {
  @import "theme-ios.scss";

  .device {
    background-image: url("../img/iphone5s.png");

    .device-content {
      background-color: #efeff4;
    }
  }
}
.platform-android {
  @import "theme-android.scss";

  .device {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/android.png");

    .device-content {
      font-size: 18px;
      line-height: 22px;
      background-color: #f2f2f2;
    }
    .content {
      top: 50px;
    }
    .popover {
      @include transform(scale(1));
    }
  }
  .bar ~ .content {
    padding: 0;
  }
}

// Animations
@-webkit-keyframes fadeintext {
  0% {
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
}
