//
// Side menus
// --------------------------------------------------

.side-menu {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 80%;
  height: 100%;
}

.side-menu-blocker {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;

  &.activeSideMenu {
    display: block;
    box-shadow: none;
  }
}

.side-menu-siblings-wrapper {
  width: 100%;
  height: 100%;
  /* Alternate approach, as per BODY:
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  */
}

.inactiveSideMenu, .activeSideMenu {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .4s;
     -moz-transition: -moz-transform .4s;
          transition: transform .4s;
  @include transform(translate3d(0, 0, 0));
}
.activeSideMenu {
  @include transform(translate3d(80%, 0, 0));
}
