//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 10px $bar-side-spacing;
  line-height: 1;
}
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; margin-top: 20px }
h6, .h6 { font-size: 12px; margin-top: 20px }

// Paragraphs
p {
  margin: 10px $bar-side-spacing;
  font-size: 14px;
  color: #777;
}

// Take on the container's side spacing
.container {
  > h1, > h2, > h3, > h4, > h5, > h6, > p {
    margin-left: 0;
    margin-right: 0;
  }
}