<nav class="docs-outer-wrapper docs-masthead">
  <div class="docs-inner-wrapper">
    <ul class="docs-navigation">
      <li class="nav-item"><a href="#gettingStarted">Getting started</a></li>
      <li class="nav-item nav-components">
        <a data-ignore="push" class="nav-components-link" href="">Components</a>
        <ul class="components-list">
          <li><a href="#bars">Bars</a></li>
          <li><a href="#table-views">Table views</a></li>
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#segmentedControllers">Segmented controllers</a></li>
          <li><a href="#badges">Badges</a></li>
          <li><a href="#forms">Forms</a></li>
          <li><a href="#toggles">Toggles</a></li>
          <li><a href="#popovers">Popovers</a></li>
          <li><a href="#modals">Modals</a></li>
          <li><a href="#sliders">Sliders</a></li>
          <li><a href="#push">Push</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#pageSetup">Page setup</a></li>
      <li data-ignore="push" class="nav-item"><a href="http://github.com/maker/ratchet">View on GitHub</a></li>
    </ul>
    <h1 class="docs-masthead-title">Ratchet</h1>
  </div>
</nav>